@mixin fonts ($fw, $fs, $lh, $ls:0.03) {
font-weight: $fw;
    font-size: $fs+px;
    line-height: $lh;
    letter-spacing: $ls+em;
}

@mixin retina {
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
           @content ;
        } 
}
